@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
*{
 font-family: 'Odibee Sans', cursive;
}
body{
 background-image: linear-gradient(to Right,#0F2027, #203A43, #2C5364 );
 text-align: center;
}
h2, h3{
 color: white;
 margin: 50px;
}
.name{
 color: white;
 margin-top: 60px;
 font-size: 15vh;
}
input[type=text]{
 font-size: larger;
 border: 3px solid white;
 margin: 20px;
 padding: 5px 0;
 border-radius: 50px;
 text-align: center;
}
input[type=submit]{
 font-size: medium;
 padding: 10px 30px;
 color: white;
 border-radius: 50px;
 border: 2px solid white;
}
input[type=button]{
 font-size: medium;
 padding: 10px 30px;
 color: white;
 background-color: grey;
 border-radius: 50px;
 border: 2px solid white;
}
.subjoin{
 background-color: red;
}
.subcreate{
 background-color: green;
}
input[type=submit]:hover{
 cursor: pointer;
}
.copyright{
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translate(-50%, -50%);
 margin: 0;
 color: white;
}
.share{
 background-color: green;
 margin: 20px;
}

.room-id{
 color: white;
 margin: 60px 0 0 0;
}
p{
 color: white;
}